.rounded-border-box {
    box-sizing: border-box;
    width: 65%;
    height: 8.6875rem;
    border: 0.6000000000000001px solid #adb9c7;
    border-radius: 1.25rem;
    
  }

  .prize-button {
    box-sizing: border-box;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 0.625rem;
    align-items: center;
    justify-content: center;
    width: 16.125rem;
    min-width: 16.125rem;
    height: 3.5rem;
    font: 500 18px/24px Poppins, sans-serif;
    color: white;
    letter-spacing: 0.03125rem;
    cursor: pointer;
    background: #2656d6;
    border: 1px solid #2656d6;
    border-radius: 0.5rem;
  }
  .svg-container1 {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    color: #f6f6f7;
  }
  