.event-info-widget {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3.125rem;
  padding-right: 0.78125rem;
  padding-left: 0.5625rem;
  margin-top: 0.875rem;
  background: #020610;
  border: 1px solid #1a1d27;
  border-radius: 0.3125rem;
}
.event-title-counter {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 500 12.5px Poppins, sans-serif;
  color: #adb9c7;
  white-space: pre-wrap;
  opacity: 0.7;
}
.event-progress-counter {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 500 10px Poppins, sans-serif;
  color: #adb9c7;
  white-space: pre-wrap;
  opacity: 0.7;
}
